<h1>{{title}}</h1>

<mat-toolbar color="primary">
  <button mat-button routerLink="/">Lista prodotti</button>
  <button mat-button routerLink="/nuovo-prodotto">Aggiungi prodotto</button>
</mat-toolbar>
<router-outlet></router-outlet>

<!-- <app-add-prodotto (nuovo)="aggiungiProdotto($event)"></app-add-prodotto>

<app-lista-prodotti [elencoProdotti]="elencoProdotti" (select)="selezionaProdotto($event)"></app-lista-prodotti>

<div *ngIf="prodottoCorrente">
  <app-prodotto [prodotto]="prodottoCorrente" (like)="mostraMessaggioRingraziamento($event)">
  </app-prodotto>
</div> -->
